<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %>
<main>
  <h1><%= title %></h1>
  <form 
  id="add-review-form"
  action="/flights/<%= flight._id %>?_method=PUT"
  method="POST"
>
    <label for="airlineNames">Airline:</label>
    <select name="airline" id="airlineNames">
      <option value="<%= flight.airline %>">
        <%= flight.airline %>
      </option>
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
      </select>
    
      <label for="airportNames">Airport:</label>
      <select name="airport" id="airportNames">
        <option value ="<%= flight.airport %>"> <%= flight.airport %> </option>
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        </select>
    
    <label for="flight-number">Flight Number:</label>
    <input type="text" name="flightNo" id="flight-number" value="<%= flight.flightNo %>" >
    
    <label for="departs">Depart Date:</label>
    <input 
      type="datetime-local"
      value = "<%=flight.departs%>"
      name="departs" 
      id="departs"
    >
  
    <button type="submit">Update Flight</button>
  </form>
</main>
<%- include("../partials/footer") %>