<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>List of all Flights</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight #</th>
        <th>Departure Date</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach((flight) => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= new Date(flight.departs).toLocaleDateString() %></td>
          <td>
          <form 
            action="/flights/<%= flight._id %>?_method=DELETE"
            method="POST"
          >
            <button type="submit">X</button>
          </form>
          </td>
          <td>
            <form 
              action="/flights/<%= flight._id %>?_method=PUT"
              method="POST"
            >
              <button type="submit">✏️</button>
            </form>
            </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>