<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1> <%= title %> </h1>
  <section>
    <div><span style="font-weight: bold; font-size: 24px";>Airline: </span><%= flight.airline %> </div>
    <div><span style="font-weight: bold; font-size: 24px";> Airport: </span><%= flight.airport %> </div>
    <div><span style="font-weight: bold; font-size: 24px";> Flight No.:  </span><%= flight.flightNo %> </div>
    <div><span style="font-weight: bold; font-size: 24px";> Departure:  </span> <%= new Date(flight.departs).toLocaleString("en-US") %> </div>
    <div><span style="font-weight: bold; font-size: 24px";> Meals:  </span> 
    <ul>
      <% flight.meals.forEach(eachMeal => { %> 
      <li> <%= eachMeal.name %> </li>
      <% }) %>
  </ul>
    </div>
  </section>
  <form id="add-meal" action="/flights/<%= flight._id %>/meals" method="POST">
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add Meal</button>
  </form>

  <br>
<a href="/flights/<%=flight._id%>/edit">
  <button type="">Edit Flight</button>
</a>


<h2>Tickets</h2>
<table>
  <tr>
    <th><u>Seat</u></th>
    <th><u>Price</u></th>
  </tr>
  <% flight.ticket.forEach(ticket => { %>
    <tr> 
      <td><%= ticket.seat %></td>
      <td>$<%= ticket.price %></td>
    </tr>
  <% })  %>
</table>
<br>

<section>
<form class="add-ticket" action="/flights/<%= flight._id %>/tickets" method="POST">
<label for="seat-number">Seat Number:</label>
<input 
  type="text" 
  name="seat" 
  id="seat-number" 
  value="A1-F99"
  required pattern ="[A-F][1-9][1-9]\D?" 
>
<br>
<label for="seat-price">Seat Price:</label>
<input type="text" name="price" id="seat-price" value="" >
<br>
<button type="submit"> Add Ticket </button>
</form>
</section>

</main>
<%- include('../partials/footer') %>