<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Details of flight #</h1>
  <br>
  <h3> <%= flight._id %></h3>
  <a href="/flights/<%= flight._id %>/edit">
    <button>Edit Flight</button>
  </a>
  <br>
  <form id="new-flight" action="/flights/"<%=flight._id %>?_method="PUT" method="POST">
    <label for="airlineNames">Airline:</label>
    <select name="airline" id="airlineNames">
      <option value="American">American</option>
      <option value="Southwest">Southwest</option>
      <option value="United">United</option>
      </select>
    
      <label for="airportNames">Airport:</label>
      <select name="airport" id="airportNames">
        <option value="AUS">AUS</option>
        <option value="DFW">DFW</option>
        <option value="DEN">DEN</option>
        <option value="LAX">LAX</option>
        <option value="SAN">SAN</option>
        </select>
    
    <label for="flight-number">Flight Number:</label>
    <input type="text" name="flightNo" id="flight-number">
    
    <label for="departs">Depart Date:</label>
    <input type="date" name="departs" id="departs">
    
    <button type="submit">Update Flight</button>
  </form>
</main>
<%- include('../partials/footer') %>